html,
body {
	min-width: 1122px;
	min-height: 1780px;
	margin:0;
	padding: 0;

	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
}

/*
.clearfix::after {
	content: "";

	display: table;
	clear: both;
}


.main-header {
	min-height: 135px;
	margin-bottom: 35px;

}


.container {
	width: 1160px;
	padding: 0 20px;
	margin: 0 auto;

}


.header-logo {
	float: left;
	width: 160px;
	height: 65px;

}


.main-navigation {
	float: left;
	width: 820px;


}


.cart {
	float: right;
	width: 180px;
}

.slider {
	height: 413px;
	margin-bottom: 60px;
}

.features {
	padding-bottom: 80px;
	margin-bottom: 80px;
	border-bottom: 1px solid black;
}

.feature-item {
	float: left;
	width: 300px;
	margin-right: 100px;

}

.feature-item:last-child {
	margin-right: 0;
}


.index-content {
	margin-bottom: 80px;
}

.index-content-left {
	width: 660px;
	float:left;
	margin-right: 140px;

}

.index-content-right {
	width: 360px;
	float: right;

}

.trust-us {
	min-height:182px; 
	margin-bottom: 80px;
	border: 1px solid black;
}


.map {
	height: 416px;
}

.text-us {
	width: 320px;
}

.main-footer {
	margin-top: 70px;
}

.footer-social {
	float: left;
	width: 280px;
	margin-right: 120px;
}

.footer-promo {
	float: right;
	width: 560px;
}

CATALOG;

.main-title {
	padding-top:75px;
	padding-bottom: 115px;
	text-align: center;
	margin-bottom: 60px;
}


.sidebar {
	float: left;
	width: 260px;
	margin-right: 140px;
}

.sort {
	margin-bottom: 60px;
}
.catalog-content {
	float: right;
	width: 760px;

}


.sort-title {
	float: left;
}

.sort-anc {
	float: right;
}


.catalog-content-box {
	margin-bottom: 60px;
}


.catalog-content-element {
	float: left;
	width: 360px;
	min-height: 620px;
	margin-right: 40px;
	margin-bottom: 40px;
}

.catalog-content-element:nth-child(even){
	float: right;
	margin-right: 0;
}

.pagination {
	margin-bottom: 60px;
}
*/

/* FLEX  */

.main-header{
	background: #EEEEEE url("../img/grey_bg.jpg") no-repeat;
}

.main-header {
	min-height: 135px;
	text-transform: uppercase;



}
 .container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-header .container {
	display: flex;
	padding-top: 50px;
	margin-bottom: 2px;
}

.main-header .container .header-logo {
	width: 160px;
	height:65px;
}

.main-header .container .header-logo:hover {
	opacity: 0.8;
}

.main-header .container .header-logo:active {
	opacity: 0.3;
}

.main-navigation ul {
	display: flex;
	flex-direction: row;
	margin-left: 200px;
	margin-right: 200px;
	padding-top: 12px;
}

.main-navigation li {
	margin-right: 50px;
	list-style-type: none;
}

.main-navigation li:last-child {
	margin-right: 0;
}

.main-navigation a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
}

.main-navigation a:hover,
.cart a:hover {
	color:#fb565a;
}

.main-navigation a:active,
.cart a:active {
	text-decoration: underline;
	text-decoration-color: #fb565a;
}
.cart {
	width: 160px;
	padding-top: 30px;
}

.cart a {
	position: relative;

	padding-left: 88px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
}

.cart a::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	right: 100px;
	bottom: 3px;
	background: #EEEEEE url("../img/cart-icon.png") no-repeat top;
}

.main-navigation {
	flex-grow: 1;
}

.slider {
	position: relative;

	width: 1160px;
	height: 430;
	margin-left: auto;
	margin-right: auto;


	margin-bottom: 80px;
}

.slider-controls {
	position: absolute;

	padding: 0 36px;
	height: 10px;
	margin-left: -100px;
	text-align: center;
	left: 50%;
	bottom:100px;

	z-index: 1000;
}



.slider-controls i {
	display: inline-block;

	margin: 0 9px;
	width: 8px;
	height: 8px;
	vertical-align: top;
	background: white;
	margin-right: 18px;
	border: 5px solid white;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls .active {
	background: #c1c1c1;
}


.slide {
	position: absolute;
	
	width: 100%;
	height: 100%;
	
	top: 0;
	left: 0;
	overflow: hidden;
}

.slide-text {
	width: 380px;
	padding: 70px 0;
	color:#283136;
	text-transform: none;
}

.slide-title {
	font-size: 36px;
	line-height:36px;
	font-weight: 500;
	color:black;
}

.promo-button {
	display: block;
	width: 240px;
	padding: 10px 0;

	background: #fb565a;
	font-size: 16px;
	text-decoration: none;
	color:white;
	text-align: center;
	border-radius: 3%;
	margin-top: 55px;
	text-transform: uppercase;
}

.promo-button:hover {
	background: #E74246;
}

.promo-button:active {
	background: #D7373B
	opacity: 0.3;
}

.slide:nth-child(1) {
	background: url("../img/slide1.png") no-repeat;
	background-position: 100% 10px;
}

.slide:nth-child(2) {
	background: url("../img/slide2.png") no-repeat;
	background-position: 100% 10px;
}

.slide:nth-child(3) {
	background: url("../img/slide3.png") no-repeat;
	background-position: 100% 10px;
}

.slide:nth-child(1) {
	display: block;
}

.slide:nth-child(2) {
	display: none;
}

.slide:nth-child(3) {
	display: none;
}

.features {
	display: flex;
	position: relative;
	padding-bottom: 80px;
	margin-bottom: 41px;
}

.feature-item {
	width: 300px;
	margin-right: 100px;
}

.feature-item:last-child {
	margin-right: 0;
}

.feature-item-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	margin-top: 23px;
	margin-bottom: 25px; 
	color: #000000;
}


.feature-item p {
	width: 245px;
	color:#283136;
	margin-bottom: 35px;
}

.feature {
	display: inline-block;
	padding: 18px 40px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

.feature-button-1 {
	background: #FB565A;
}

.feature-button-1:hover {
	background: #E74246
}

.feature-button-1:active {
	background: #D7373B
}

.feature-button-2 {
	background: #00CA74;
}

.feature-button-2:hover {
	background: #00BC6C;
}

.feature-button-2:active {
	background: #00AA62;
}

.feature-button-3 {
	background: #EFC84A;
}

.feature-button-3:hover {
	background: #EAB534;
}

.feature-button-3:active {
	background: #E5A722;
}

.features::after {
	position: absolute;
	content: "";

	bottom: 0;
	width: 100%;
	height: 2px;

	background: #000000 url("../img/feature-hr.png");
}

.index-content {
	display: flex;
	margin-bottom: 80px;
}

.index-content-left {
	width: 660px;
	margin-right: 140px;
}

.index-content-right {
	flex-grow: 1;
}

.index-lead {
	width: 668px;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	margin-top: 41px;

	margin-bottom: 35px;
}


.index-lead b {
	font-weight: 500;
}

.index-description {
	width: 658px;
	color:#283136;

	margin-bottom: 47px;
}

.index-orders {
	text-transform: uppercase;
}

.index-content-left ul {
	margin-bottom: 0;
	 list-style: none;
}

.index-content-left li {
	position: relative;

	margin-bottom: 34px;
	color:#283136;
}

.index-content-left li:last-child {
	margin-bottom: 0;
}

.index-content-left li::before {
	content: "";
	position: absolute;
	left: -34px;
	top: 10px;

	width: 25px;
	height: 2px;

	
	background: red url("../img/index-content-li.png");
}

.index-content-img {
	margin: 0;
	margin-bottom: 51px;
}

.index-content-right b{
	display: inline-block;
	padding-left: 17px;
	margin: 0;
	margin-bottom: 49px;

	text-transform: uppercase;
}

.percentage-block {
	display: flex;
	justify-content: space-between;
}

.percentage-block h3, .percentage-block p {
	margin: 0;
	padding: 0;
}

.percentage-block-item h3 {
	margin-bottom: 37px;
	margin-right:20px;

	font-size: 45px;
	line-height: 10px;
	font-weight: bold;
}

.percentage-block-item h3:last-child {
	margin-right: 0;
}

.percentage-block-item p {
	line-height: 18px;
	color:#283136;
}

.trust-us {
	display: flex;
	justify-content: space-around;
	align-items: center;

	position: relative;

	min-height:182px; 
	margin-bottom: 80px;
	/*border: 1px solid black;*/

}

.trust-us-img {
	cursor: pointer;
}

.trust-us-img-1 {
	display: inline-block;
	width: 199px;
	height: 68px;

	background: url("../img/trust-us-1.png");
}

.trust-us-img-1:hover{
	background: url("../img/trust-us-1-hover.png");
}

.trust-us-img-1:active {
	background: url("../img/trust-us-1-active.png");
}

.trust-us-img-2{
	display: inline-block;
	width: 209px;
	height: 87px;

	background: url("../img/trust-us-2.png");
}

.trust-us-img-2:hover{
	background: url("../img/trust-us-2-hover.png");
}

.trust-us-img-2:active {
	background: url("../img/trust-us-2-active.png");
}

.trust-us-img-3 {
	display: inline-block;
	width: 185px;
	height: 52px;

	background: url("../img/trust-us-3.png");
}

.trust-us-img-3:hover{
	background: url("../img/trust-us-3-hover.png");
}

.trust-us-img-3:active {
	background: url("../img/trust-us-3-active.png");
}

.trust-us-img-4 {
	display: inline-block;
	width: 173px;
	height: 84px;

	background: url("../img/trust-us-4.png");
}

.trust-us-img-4:hover{
	background: url("../img/trust-us-4-hover.png");
}

.trust-us-img-4:active {
	background: url("../img/trust-us-4-active.png");
}

.trust-us::before {
	position: absolute;
	top: 0;

	content: "";

	width: 1160px;
	height: 2px;

	background: black url("../img/trust-us-divide.png");
}

.trust-us::after {
	position: absolute;
	bottom: 0;

	content: "";

	width: 1160px;
	height: 2px;

	background: black url("../img/trust-us-divide.png");
}


.map {
	position: relative;
	width: 100%;
	height: 416px;

	background: #B5B5B5 url("../img/map-bg.jpg") no-repeat;
	background-size: cover;
}


.text-us {
	position: absolute;
	width: 320px;
	margin: 55px 0;

	background: #ffffff;
}

.text-us h3 {
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 51px;
	margin-bottom: 0;

	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;

}

.text-us p {
	margin:0;
	padding: 0;
	text-align: center;
	margin-top: 13px;

	line-height: 18px;
	color: #666666;
}

.map-button {
	display: block;
	width: 219px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 45px;
	margin-left: auto;
	margin-right: auto;

	padding: 16px 0;

	background: #FB565A;
	border: 1px solid #FB565A;
	border-radius: 5%;

	line-height: 18px;
	color:#ffffff;
	text-decoration: none;
}

.map-button:hover {
	background: #E74246;
}

.map-button:active {
	background: #D7373B;
}

.main-footer .container {
	margin-top: 70px;
	margin-bottom: 70px;
	display: flex;
}

.footer-social {
	width: 280px;
	margin-right: 120px;
}

.social-btn {
	display: inline-block;
	position: relative;

	width: 79px;
	height: 79px;
	background: #E1E1E1;

	border:0px solid #E1E1E1;
	border-radius: 50%;
}

.social-btn:hover {
	background: #E74246;;
}

.social-btn:active {
	background: #D7373B;
}

.social-btn img {
	position: absolute;
	top: 50%;
	left: 50%;
}


.social-btn-vk img{
	margin-left: -14px;
	margin-top: -7px;
}

.social-btn-fb img{
	margin-left: -5px;
	margin-top: -10px;
}

.social-btn-inst img{
	margin-left: -9px;
	margin-top: -11px;
}


.footer-promo h3 {
	font-size: 36px;
	line-height: 36px;

	margin: 0;
	margin-top: 11px;
}

.footer-promo p {
	margin: 0;
	margin-top: 10px;

	color: #444444;
	line-height: 22px;
}


/*   CATALOG  */


.main-title{
	padding-top:75px;
	padding-bottom: 115px;
	margin-bottom: 60px;
	text-align: center;	
}

.catalog-main-container {
	display: flex;
	margin-bottom: 60px;
}

.sidebar {
	width: 260px;
	margin-right: 140px;
}

.catalog-content {
	width: 740px;
}

.sort {
	display: flex;
	justify-content: space-between;
}



