html,
body {
	min-width: 1122px;
	min-height: 1780px;
	margin:0;
	padding: 0;
}

.clearfix::after {
	content: "";

	display: table;
	clear: both;
}


.main-header {
	min-height: 135px;
	margin-bottom: 35px;

}


.container {
	width: 1160px;
	padding: 0 20px;
	margin: 0 auto;

}


.header-logo {
	float: left;
	width: 160px;
	height: 65px;

}


.main-navigation {
	float: left;
	width: 820px;


}


.cart {
	float: right;
	width: 180px;
}

.slider {
	height: 413px;
	margin-bottom: 60px;
}

.features {
	padding-bottom: 80px;
	margin-bottom: 80px;
	border-bottom: 1px solid black;
}

.feature-item {
	float: left;
	width: 300px;
	margin-right: 100px;

}

.feature-item:last-child {
	margin-right: 0;
}


.index-content {
	margin-bottom: 80px;
}

.index-content-left {
	width: 660px;
	float:left;
	margin-right: 140px;

}

.index-content-right {
	width: 360px;
	float: right;

}

.trust-us {
	min-height:182px; 
	margin-bottom: 80px;
	border: 1px solid black;
}


.map {
	height: 416px;
}

.text-us {
	width: 320px;
}

.main-footer {
	margin-top: 70px;
}

.footer-social {
	float: left;
	width: 280px;
	margin-right: 120px;
}

.footer-promo {
	float: right;
	width: 560px;
}