html,
body {
	min-width: 1122px;
	min-height: 1780px;
	margin:0;
	padding: 0;

	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
}

/*
.clearfix::after {
	content: "";

	display: table;
	clear: both;
}


.main-header {
	min-height: 135px;
	margin-bottom: 35px;

}


.container {
	width: 1160px;
	padding: 0 20px;
	margin: 0 auto;

}


.header-logo {
	float: left;
	width: 160px;
	height: 65px;

}


.main-navigation {
	float: left;
	width: 820px;


}


.cart {
	float: right;
	width: 180px;
}

.slider {
	height: 413px;
	margin-bottom: 60px;
}

.features {
	padding-bottom: 80px;
	margin-bottom: 80px;
	border-bottom: 1px solid black;
}

.feature-item {
	float: left;
	width: 300px;
	margin-right: 100px;

}

.feature-item:last-child {
	margin-right: 0;
}


.index-content {
	margin-bottom: 80px;
}

.index-content-left {
	width: 660px;
	float:left;
	margin-right: 140px;

}

.index-content-right {
	width: 360px;
	float: right;

}

.trust-us {
	min-height:182px; 
	margin-bottom: 80px;
	border: 1px solid black;
}


.map {
	height: 416px;
}

.text-us {
	width: 320px;
}

.main-footer {
	margin-top: 70px;
}

.footer-social {
	float: left;
	width: 280px;
	margin-right: 120px;
}

.footer-promo {
	float: right;
	width: 560px;
}

CATALOG;

.main-title {
	padding-top:75px;
	padding-bottom: 115px;
	text-align: center;
	margin-bottom: 60px;
}


.sidebar {
	float: left;
	width: 260px;
	margin-right: 140px;
}

.sort {
	margin-bottom: 60px;
}
.catalog-content {
	float: right;
	width: 760px;

}


.sort-title {
	float: left;
}

.sort-anc {
	float: right;
}


.catalog-content-box {
	margin-bottom: 60px;
}


.catalog-content-element {
	float: left;
	width: 360px;
	min-height: 620px;
	margin-right: 40px;
	margin-bottom: 40px;
}

.catalog-content-element:nth-child(even){
	float: right;
	margin-right: 0;
}

.pagination {
	margin-bottom: 60px;
}
*/

/* FLEX  */

.main-header{
	background: #EEEEEE url("../img/grey_bg.jpg") no-repeat;
}

.main-header {
	min-height: 135px;
	text-transform: uppercase;



}
 .container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-header .container {
	display: flex;
	padding-top: 50px;
	margin-bottom: 2px;
}

.main-header .container .header-logo {
	width: 160px;
	height:65px;
}

.main-header .container .header-logo:hover {
	opacity: 0.8;
}

.main-header .container .header-logo:active {
	opacity: 0.3;
}

.main-navigation ul {
	display: flex;
	flex-direction: row;
	margin-left: 200px;
	margin-right: 200px;
	padding-top: 12px;
}

.main-navigation li {
	margin-right: 50px;
	list-style-type: none;
}

.main-navigation li:last-child {
	margin-right: 0;
}

.main-navigation a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
}

.main-navigation a:hover,
.cart a:hover {
	color:#fb565a;
}

.main-navigation a:active,
.cart a:active {
	text-decoration: underline;
	text-decoration-color: #fb565a;
}
.cart {
	width: 160px;
	padding-top: 30px;
}

.cart a {
	position: relative;

	padding-left: 88px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
}

.cart a::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	right: 100px;
	bottom: 3px;
	background: #EEEEEE url("../img/cart-icon.png") no-repeat top;
}

.main-navigation {
	flex-grow: 1;
}

.slider {
	position: relative;

	width: 1160px;
	height: 430;
	margin-left: auto;
	margin-right: auto;


	margin-bottom: 60px;
}

.slider-controls {
	position: absolute;

	padding: 0 36px;
	height: 10px;
	margin-left: -100px;
	text-align: center;
	left: 50%;
	bottom:100px;

	z-index: 1000;
}



.slider-controls i {
	display: inline-block;

	margin: 0 9px;
	width: 8px;
	height: 8px;
	vertical-align: top;
	background: white;
	margin-right: 18px;
	border: 5px solid white;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls .active {
	background: #c1c1c1;
}


.slide {
	position: absolute;
	
	width: 100%;
	height: 100%;
	
	top: 0;
	left: 0;
	overflow: hidden;
}

.slide-text {
	width: 380px;
	padding: 70px 0;
	color:#283136;
	text-transform: none;
}

.slide-title {
	font-size: 36px;
	line-height:36px;
	font-weight: 500;
	color:black;
}

.promo-button {
	display: block;
	width: 240px;
	padding: 10px 0;

	background: #fb565a;
	font-size: 16px;
	text-decoration: none;
	color:white;
	text-align: center;
	border-radius: 3%;
	margin-top: 55px;
	text-transform: uppercase;
}

.promo-button:hover {
	background: #E74246;
}

.promo-button:active {
	background: #D7373B
	opacity: 0.3;
}

.slide:nth-child(1) {
	background: url("../img/slide1.png") no-repeat;
	background-position: 100% 10px;
}

.slide:nth-child(2) {
	background: url("../img/slide2.png") no-repeat;
	background-position: 100% 10px;
}

.slide:nth-child(3) {
	background: url("../img/slide3.png") no-repeat;
	background-position: 100% 10px;
}

.slide:nth-child(1) {
	display: block;
}

.slide:nth-child(2) {
	display: none;
}

.slide:nth-child(3) {
	display: none;
}

.features {
	display: flex;
	padding-bottom: 80px;
	margin-bottom: 80px;
	border-bottom: 1px solid black;
}

.feature-item {
	width: 300px;
	margin-right: 100px;
}

.feature-item:last-child {
	margin-right: 0;
}


.index-content {
	display: flex;
	margin-bottom: 80px;
}

.index-content-left {
	width: 660px;
	margin-right: 140px;
}

.index-content-right {
	flex-grow: 1;
}

.trust-us {
	min-height:182px; 
	margin-bottom: 80px;
	border: 1px solid black;
}


.map {
	height: 416px;
}

.text-us {
	width: 320px;
}

.main-footer .container {
	margin-top: 70px;
	display: flex;
}

.footer-social {
	width: 280px;
	margin-right: 120px;
}


.footer-promo {
	width: 560px;
}


/*   CATALOG  */


.main-title{
	padding-top:75px;
	padding-bottom: 115px;
	margin-bottom: 60px;
	text-align: center;	
}

.catalog-main-container {
	display: flex;
	margin-bottom: 60px;
}

.sidebar {
	width: 260px;
	margin-right: 140px;
}

.catalog-content {
	width: 740px;
}

.sort {
	display: flex;
	justify-content: space-between;
}



